</main>
<script src="/dist/js/app.min.js"></script>
<footer>
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center mb-8">
            <div class="mb-4 md:mb-0">
                <h3>Nedersanders 2025</h3>
                <p class="text-text-secondary">Nergens anders, meer Sanders.</p>
            </div>
            <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 mt-6 md:mt-0">
                <a href="/tickets" class="text-text-secondary hover:text-text-primary transition-colors font-medium">Tickets voor Sander Event 2025</a>
                <a href="/auth/login" class="text-text-secondary hover:text-text-primary transition-colors font-medium">Inloggen</a>
                <a href="mailto:info@nedersanders.nl" class="text-text-secondary hover:text-text-primary transition-colors font-medium">Contact</a>
            </div>
        </div>
        <div class="pt-6 border-t border-blue-400 text-center text-text-secondary text-sm">
            <p>&copy; 2025 Nedersanders. Alle rechten voorbehouden.</p>
        </div>
    </div>
</footer>
</body>

</html>