<%- include('./partials/header.ejs') %>
    <!-- Desktop section -->
    <section class="w-full h-full p-4 md:grid grid-cols-12 hidden">

    </section>
    <!-- Mobile section -->
    <section class="w-full h-full grid grid-rows-6 md:hidden p-4">
        <div class="w-full row-span-2">
            <h2 class="text-xl font-semibold">Evenementen</h2>
        </div>
        <div class="row-span-4 w-full h-full grid grid-rows-3 gap-2">
            <div class="w-full h-auto aspect-video bg-red-400 rounded-xl">1</div>
            <div class="w-full h-auto aspect-video bg-red-400 rounded-xl">2</div>
            <div class="w-full h-auto aspect-video bg-red-400 rounded-xl">3</div>
        </div>
    </section>
    </main>