<main class="h-screen w-screen bg-green-400 flex flex-col">
    <nav class="max-w-screen flex flex-wrap -items-center justify-between mx-auto p-4">
        <div class="flex items-center justify-center w-24 h-auto">
            <a href="/" class="nav-logo-link"> <!-- TODO: Get PNG logo-->
                <img src="/images/NederSandersLogo.png alt=" Nedersanders Logo" class="nav-logo-img" />
            </a>
        </div>
        <div class="w-full bg-red-400">
            <p>a</p>
        </div>
    </nav>
    <section class="w-full h-full bg-blue-400"></section>
</main>