<%- include('./partials/header.ejs') %>

    <section class="w-full h-full p-4 grid grid-rows-2">
        <div class="w-full h-full  grid grid-cols-2">
            <div class="w-full h-full flex items-center justify-center">
                <h1 class="text-5xl font-semibold">Het Platform voor Sander, <br /> door Sanders</h1>
            </div>
            <div class="w-full h-full flex flex-col p-4">
                <div class="shadow rounded-2xl h-full w-full relative">
                    <img src="/images/sanderevent-2025/sanderevent.jpeg" alt="Evenement"
                        class="object-cover rounded-t-2xl h-48 w-full" />
                    <div class="absolute top-2 left-2 flex gap-2">
                        <button class="bg-white bg-opacity-80 text-black px-4 py-2 rounded shadow">Button 1</button>
                        <button class="bg-white bg-opacity-80 text-black px-4 py-2 rounded shadow">Button 2</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="w-full h-full p-4 grid grid-cols-6 items-center justify-center gap-2">
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
        </div>
    </section>
    </main>