<%- include('./partials/header.ejs') %>

    <section class="w-full h-full p-4 grid grid-rows-2">
        <div class="w-full h-full bg-green-400"></div>
        <div class="w-full h-full bg-blue-400"></div>
    </section>
    </main>