<%- include('./partials/header.ejs') %>

    <section class="w-full h-full p-4 grid grid-rows-2">
        <div class="w-full h-full  grid grid-cols-2">
            <div class="w-full h-full flex items-center justify-center">
                <h1 class="text-5xl font-semibold">Het Platform voor Sander, <br /> door Sanders</h1>
            </div>
            <div class="w-full h-full p-4 relative tiems-center justfy-center">
                <img src="/images/sanderevent-2025/sanderevent.jpeg" alt="Evenement"
                    class="object-cover rounded-2xl h-64 w-full" />
                <div class="absolute top-0 left-0 w-full flex rounded-t-2xl bg-white">
                    test
                </div>
            </div>
        </div>
        </div>
        <div class="w-full h-full p-4 grid grid-cols-6 items-center justify-center gap-2">
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
            <div class="w-full h-auto aspect-square">
                <img src="https://picsum.photos/200" alt="Random Image" class="w-full h-full object-cover rounded-lg">
            </div>
        </div>
    </section>
    </main>