<main class="h-screen w-screen bg-green-400 flex flex-col">
    <nav class="max-w-screen flex flex-wrap -items-center justify-between mx-auto p-4">
        <a href="/" class="nav-logo-link"> <!-- TODO: Get PNG logo-->
            <img src="/images/logo.jpeg" alt="Nedersanders Logo" class="nav-logo-img w-12 h-auto" />
        </a>
        <div class="w-full bg-red-400">
            <p>a</p>
        </div>
    </nav>
    <section class="w-full h-full bg-blue-400"></section>
</main>