@import "tailwindcss";
@import "./_colors.css";
@import "./_buttons.css";
@import "./_footer.css";


@layer base {
  body {
    @apply bg-slate-50 min-h-screen font-sans text-text-primary overflow-x-hidden;
    font-family: "Inter", sans-serif;
  }

  /* Prevent horizontal scrolling on all elements */
  * {
    @apply box-border;
  }

  html {
    @apply overflow-x-hidden;
  }
} 

@theme inline{
      /* Primary Colors */
  --color-primary-default: var(--primary-default);
  --color-primary-hover: var(--primary-hover);
  --color-primary-disabled: var(--primary-disabled);
  --color-primary-focus: var(--primary-focus);

  /* Secondary Colors */
  --color-secondary-border: var(--secondary-border);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-disabled: var(--secondary-disabled);

  /* Text Colors */
  --color-text-primary: var(--text-primary);
  --color-text-inverse: var(--text-inverse);
  --color-text-disabled: var(--text-disabled);

  /* Background Colors */
  --color-bg-disabled: var(--bg-disabled);
  --color-bg-hover: var(--bg-hover);
}
